.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile-top {
  position: relative;
  z-index: 10;
  bottom: 60px;
  background: transparent url("/assets/background.jpeg") no-repeat center center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  width: 100%;
  height: clamp(300px, 40vh, 560px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-top img {
  width: clamp(80px, 70vmin, 500px);
  position: relative;
  top: 40%;
  border-radius: 50%;
  border: 10px solid white;
}

.profile-bottom {
  width: 100%;
  background-color: white;
  padding-top: 20vmin;
  height: 45vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-banner {
  font-size: 3rem;
  font-weight: bolder;
}

.profile-desc {
  font-weight: lighter;
  font-size: 1.2rem;
  color: grey;
  padding: 20px;
}

.social {
  display: flex;
  list-style: none;
}

.social li {
  transition: 0.5s ease;
  padding: 20px;
}

.social li:hover {
  cursor: pointer;
  transform: scale(1.25);
}
